/* naviation*/
 body{
     background-color: rgb(214, 15, 15);
 }
#navbar{
    flex-direction: column;
}
html{scroll-behavior: smooth;
}

/* home section 
 */
#home{


}
/* services section  */
#services{
    flex-direction: column;

}
#services.box{flex-direction: column;


}


/* client section  */


/* contact us section */


/* footer  */
